@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

/*Fonts Orbitron | Kanit */
/*BGCOlor = background-color: rgb(19, 13, 29);

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




/* LOGIN */
#HTML-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#login-form{
    width: 50%;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    margin-top: 60px;
    background-color: rgb(47, 27, 80);
    opacity: 0.8;
    border-radius: 20px;
    height: 400px;
    padding: 50px;
    box-sizing: border-box;
}

#login-form label{
    font-size: 150%;
    font-style: oblique;
}

#login-form input{
    width: 70%;
    padding: 8px;
    border-radius: 10px;0   
}

#loginbtn{
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 5%;
    padding-top: 5%;
    background-color: black;
    border: none;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

#HTML-form a{
    margin-top: 40px;
    color: #fff;
    text-decoration: none;
    margin-bottom: 20px;
}

.form-icons{
    display: flex;
    column-gap: 20px;
}

/* Sign up */

*{
    padding: 0;
    margin: 0;
}

body{
    margin: 0 auto;
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: rgb(19,13,29);
    color: #fff;
}

/*Vanished*/

.main-animation{
    animation: vanished-main 2s ease 0s 1 forwards;

}

@keyframes vanished-main {
    from{
        display: block;
        opacity: 1;
    }to{
        display: none;
        opacity: 0;
    }
}

header{
    background-color: rgb(15, 9, 25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
}

.logo-container img{
    width: 70%;
    padding: 10px;
}

header h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3.5rem;
}

#menu{
    position:absolute;
    height: 100vh;
    box-shadow: 0px 0px 8px rgb(97, 51, 172); 
    /*Agregar animacion en js*/
}



#menu ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    color: #fff;
    background-color: rgb(19,13,29);
    cursor: pointer;
    /*Agregar animacion en js*/
}


/*agregar clase a los elementos del menu*/
.menu-animation{
    animation: menu-slide 2s ease 0s 1 forwards;
}

@keyframes menu-slide {
    from{
        font-display:none ;
        opacity: 0.4;
        margin-left: 800px;
    }to{
        font-display: block;
        opacity: 1;
        margin-right: 0px;
    }
}

.menu-link{
    color: #fff;
    padding: 10%;
    font-size: 120%;
    /*Agregar animacion en js*/
}

.menu-icon img{
    width: 4.1rem;
    cursor: pointer;
}

.welcome-container{
    display: flex;
    justify-content: space-evenly;
}

.welcome-text{
    width: 40%;
    height: 250px;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 320px;
    margin-left: 10px;
    border-radius: 100px;
    border-style: dashed;
    border-color: rgb(139, 91, 216);

}

.welcome-text p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 160%;
}

.welcome-image img{
    width: 100%;
    margin-left: 10px;
    margin-top: 250px;
    border: 1px solid #000;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 0px 0px 18px #000;
}

.best-title-container{
    margin-top: 70px;
    margin-bottom: 50px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-shadow: 0px 0px 8px #fff;
}

.best-videogames{
    padding: 10px;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(500,1fr);
    overflow-y: hidden;
    overflow-x: scroll;
    height: 430px;
}

.best-videogames::-webkit-scrollbar{
    display: none;
}

.videogame-container{
    width: 15rem;
    background-color: rgba(135, 102, 188, 0.1);
    height: 400px;
    margin-right: 70px;
    margin-left: 10px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    transition: transform 0.3s ease;
}


.videogame-container:hover{
    transform: scale(1.05);
}

.videogame-container img{
    width: 100%;
    height: 250px;
    border-radius: 20px;
}

.videogame-title{
    display: flex;
    width: 100%;
    height: 50px;
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.price-heart{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

#heart{
    width: 10%;
    height: 10%;
    cursor: pointer;
}

.right-row-container{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150%;
}

.right-row-container img{
    cursor: pointer;
}


.coming-soon{
    margin-top: 50px;
    margin-bottom: 70px;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    text-shadow: 0px 0px 8px #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.comming-soon-games{
    display: grid;
    grid-template-columns: repeat(100,1fr);
}

.comming-soon-games::-webkit-scrollbar{
    display: none;
}

.more-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.more-info-title{
    margin-top: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0px 0px 8px #fff;
}

.more-info-containers{
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 20em;
    padding-right: 20em;
}

.more-info-container{
    padding: 10px;
    background-color: rgb(44, 26, 71);
    margin: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.more-info-image{
    grid-column: span 2;
    display: flex;
}

.more-info-image img{
    margin-right: 40px;
}

footer{
    background-color: rgba(37, 12, 37, 0.6);
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.footer-image-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer-image-container img{
    width: 3rem;
}

.footer-info{
    margin-top: 20px;
    padding-left: 20rem;
    padding-right: 20rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
}

.footer-card{
    background-color: rgb(27, 14, 48);
    padding: 30px;
    margin: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 50px;
}

.footer-card img{
    width: 10%;
    margin: 15px;
}

.copyright{
    grid-column: span 2;
}

@media (max-width: 799px){
    body{
        background-color: rgb(19,13,29);
        overflow-x: hidden;
    }
    
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(19,13,29);
        opacity: 1;
    }
    
    .logo-container img{
        width: 40%;
        padding: 10px;
    }
    
    header h1{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 2.5rem;
        margin-right: 80px;
    }
    
    .menu-icon img{
        width: 3.1rem;
        cursor: pointer;
    }
    
    .welcome-container{
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
    }
    
    .welcome-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 20em;
        height: 250px;
        color: #fff;
        margin-top: 130px;
        margin-left: 60px;
        border-radius: 10px;
        border-style: dashed;
        border-color: rgb(139, 91, 216);
    }
    
    .welcome-text p{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        font-size: 150%;
        width: 100%;
        margin-left: 20%;
    }
    
    .welcome-image{
        width: 100%;
    }

    .welcome-image img{
        width: 100%;
        border: 1px solid #000;
        border-radius: 30px;
        box-shadow: 0px 0px 18px #000;
        margin-left: 20px;
    }
    
    .best-title-container{
        margin-top: 70px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        text-shadow: 0px 0px 8px #fff;
    }
    
    .best-videogames{
        padding: 10px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(100,1fr);
        overflow-x: scroll;
        height: 430px;
    }
    
    .best-videogames::-webkit-scrollbar{
        display: none;
    }
    
    .videogame-container{
        width: 15rem;
        background-color: rgba(135, 102, 188, 0.1);
        height: 350px;
        margin-right: 50px;
        margin-left: 10px;
        padding: 10px;
        border: none;
        border-radius: 20px;
        transition: transform 0.3s ease;
    }
    
    
    .videogame-container:hover{
        transform: scale(1.05);
    }
    
    .videogame-container img{
        width: 100%;
        height: 250px;
        border-radius: 20px;
    }
    
    .videogame-title{
        display: flex;
        width: 100%;
        height: 50px;
        overflow-x: hidden;
        overflow-y: hidden;
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
    }
    
    .price-heart{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
    }
    
    #heart{
        width: 10%;
        height: 10%;
        cursor: pointer;
    }
    
    .coming-soon{
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        text-shadow: 0px 0px 8px #fff;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
    }
    
    .comming-soon-games{
        display: flex;
    }
    
    .comming-soon-games::-webkit-scrollbar{
        display: none;
    }
    
    .more-info{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .more-info-title{
        margin-top: 20px;
        padding: 10px;
        display: flex;
        justify-content: center;
        font-size: 2.5rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-shadow: 0px 0px 8px #fff;
    }
    
    .more-info-containers{
        padding: 3rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-left: 4em;
        padding-right: 3em;
    }
    
    .more-info-container{
        padding: 10px;
        background-color: rgb(44, 26, 71);
        margin: 20px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    
    }
    
    .more-info-image{
        grid-column: span 2;
        display: flex;
    }
    
    .more-info-image img{
        margin-right: 40px;
    }
    
    footer{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }
    
    .footer-image-container{
        display: flex;
        justify-content: center;
    }
    
    .footer-image-container img{
        width: 3rem;
    }
    
    .footer-info{
        margin-top: 20px;
        padding-left: 2rem;
        padding-right: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
        row-gap: 10px;
    }
    
    .footer-card{
        background-color: rgb(27, 14, 48);
        padding: 10px;
        margin: 10px;
        border: 1px solid #000;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    
    .footer-card img{
        width: 10%;
        margin: 15px;
    }
}

@media (min-width: 801px) and (max-width: 1024px){
    /*Solo para saber si se esta usando el mediaquery*/
    body{
        overflow-x: hidden;
    }
    
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(19,13,29);
        opacity: 1;
    }
    
    .logo-container img{
        width: 40%;
        padding: 10px;
    }
    
    header h1{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 2.5rem;
    }
    
    .menu-icon img{
        width: 3.1rem;
        cursor: pointer;
    }
    
    .welcome-container{
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
    }
    
    .welcome-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 250px;
        color: #fff;
        margin-top: 130px;
        margin-left: 60px;
        border-radius: 10px;
        border-style: dashed;
        border-color: rgb(139, 91, 216);
    }
    
    .welcome-text p{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        font-size: 2rem;
        width: 100%;
        margin-left: 60px;
    }
    
    .welcome-image img{
        width: 100%;
        border: 1px solid #000;
        border-radius: 30px;
        box-shadow: 0px 0px 18px #000;
        margin-left: 40px;
    }
    
    .best-title-container{
        margin-top: 70px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        text-shadow: 0px 0px 8px #fff;
    }
    
    .best-videogames{
        padding: 10px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(100,1fr);
        overflow-x: scroll;
        height: 430px;
    }
    
    .best-videogames::-webkit-scrollbar{
        display: none;
    }
    
    .videogame-container{
        width: 15rem;
        background-color: rgba(135, 102, 188, 0.1);
        height: 400px;
        margin-right: 70px;
        margin-left: 10px;
        padding: 10px;
        border: none;
        border-radius: 20px;
        transition: transform 0.3s ease;
    }
    
    
    .videogame-container:hover{
        transform: scale(1.05);
    }
    
    .videogame-container img{
        width: 100%;
        height: 250px;
        border-radius: 20px;
    }
    
    .videogame-title{
        display: flex;
        width: 100%;
        height: 50px;
        overflow-x: hidden;
        overflow-y: hidden;
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
    }
    
    .price-heart{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
    }
    
    #heart{
        width: 10%;
        height: 10%;
        cursor: pointer;
    }
    
    .coming-soon{
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        text-shadow: 0px 0px 8px #fff;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
    }
    
    .comming-soon-games{
        display: flex;
    }
    
    .comming-soon-games::-webkit-scrollbar{
        display: none;
    }
    
    .more-info{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .more-info-title{
        margin-top: 20px;
        padding: 10px;
        display: flex;
        justify-content: center;
        font-size: 2.5rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-shadow: 0px 0px 8px #fff;
    }
    
    .more-info-containers{
        padding: 3rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-left: 5rem;
        padding-right: 5rem;
    }
    
    .more-info-container{
        padding: 10px;
        background-color: rgb(44, 26, 71);
        margin: 20px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    
    }
    
    .more-info-image{
        grid-column: span 2;
        display: flex;
    }
    
    .more-info-image img{
        margin-right: 40px;
    }
    
    footer{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        width: 100%;
    }
    
    .footer-image-container{
        display: flex;
        justify-content: center;
    }
    
    .footer-image-container img{
        width: 3rem;
    }
    
    .footer-info{
        margin-top: 20px;
        padding-left: 5rem;
        padding-right: 5rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
        row-gap: 10px;
    }
    
    .footer-card{
        background-color: rgb(27, 14, 48);
        padding: 10px;
        margin: 10px;
        border: 1px solid #000;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    
    .footer-card img{
        width: 10%;
        margin: 15px;
    }
}

@media (max-width: 679px) and (min-width: 500px){
    .logo-container{
        width: 120px;
    }
    
    header{
        padding: 0;
    }

    header h1{
        margin-right: 35px;
        font-size: 40px;
    }
}

@media (min-width: 430px) and (max-width: 450px){
    
    .welcome-image img{
        margin-left: 10px;
        margin-right: 25px;
        height: 170px;
    }

    .coming-soon p{
        font-size: 30px;
    }

    .best-title-container p{
        display: flex;
        align-items: center;
        font-size: 30px;
    }

    header h1{
        margin-left: 0px;
        margin-right: 25px;
        font-size: 30px;
    }

    .welcome-text{
        margin-top: 20px;
    }

    .welcome-text p{
        font-size: 19px;
    }

    .more-info-containers{
        padding: 1rem;
    }

    .best-videogames{
        height: 350px;
        height: 10%;
    }
}